.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.div1 {
    padding: 20px;
    background-color: aqua;
    margin: 5px;
    color: white
}
.div2 {
    padding: 20px;
    background-color: rgb(136, 255, 0);
    margin: 5px;
    color: white
}
.div3 {
    padding: 20px;
    background-color: rgb(255, 0, 0);
    margin: 5px;
    color: white
}